* {
  font-family: 'RocknRoll One', sans-serif;
}
.app__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(246, 189, 255)
}

.app__container input {
  border: none;
  height: 30px;
  width: 200px;
  text-align: center;
  outline: none;
  border-radius: 3px;
}

h1 {
  position: absolute;
  top: 0;
}

.inputs__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  box-sizing: border-box;
}

input:focus {
  border: 1px solid rgb(243, 162, 255);
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.input h1 {
  position: inherit;
  top: inherit;
}
.secret {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: .015;
}